<h1>New Entry</h1>

<%= form_with scope: :entry, url: entries_path, local: true do |form| %>
  <p>
    <%= form.label :notes %><br>
    <%= form.text_area :notes %>
  </p>
  <p>
    <%= form.label :date %><br>
    <%= date_field(:entry, :date) %>

  </p>
  <p>
    <% DECKS.each do |name, cards| %>
      <%= select_tag(:cards, options_for_select(cards.map.with_index { |card, index| [card.name, index]})) %>
        <%=
        #select_tag(:major_card, options_for_select(DECKS['rider_waite'].filter_map.with_index { |card, index| card.major && [card.name, index]}))
        %>
    <% end %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>

<%= link_to 'Back', entries_path %>
