<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @entry.date %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @entry.notes %>
</p>

<p>
  <strong>Spread:</strong>
  <%= @entry.spread %>
</p>

<%= link_to 'Edit', edit_entry_path(@entry) %> |
<%= link_to 'Back', entries_path %>
