<h2> Add new spread </h2>

<%= form_with scope: :spread, url: spreads_path, local: true do |form| %>
  <p>
    <%= form.label :notes %><br>
    <%= form.text_area :notes %>
  </p>
  <p>
    <%= form.label :date %><br>
    <%= date_field(:spread, :date) %>
    <%=
    #form.text_field :date
    %>
  </p>
  <p>
    <%= select_tag(:minor_card, options_for_select(@deck.cards.filter_map.with_index { |card, index| !card.major && [card.name, index]})) %>
    <%= select_tag(:major_card, options_for_select(@deck.cards.filter_map.with_index { |card, index| card.major && [card.name, index]})) %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>
